*{
	margin: 0;
	padding: 0;
}

body{
	padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

button {
	font-family: 'Open Sans', sans-serif;
}

.submit_box{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}



#submit{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
    border-radius: 24px;
	padding: 20px;
    background: linear-gradient(135deg, #32d987 0%, #1bb6ab 99.29%);
    margin-right: 20px;
}

.fields{
	display: flex;
	justify-content: space-between;
	position: relative;
	height: 300px;
}

.field{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.field textarea{
	width: 100%;
	height: 300px;
	font-size: 16px;
	resize: none;
    font-family: monospace;
    background-color: #f8f8f8;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: #d5d5d5;
}

.field textarea:focus-visible{
	outline: none;
}

#forResult{
	width: 100%;
	height: 300px;
}

#forResult iframe{
	width: 100%;
	height: 300px;
	border: none;
	background-color: white;
}

#testResult{
	list-style: none;
	height: 300px;
	display: inline-block;
    width: 100%;
    overflow-y: scroll;
}

#testResult li{
	padding: 10px;
	margin: 10px;
}

#testResult .pos{
    color: #04bd7a;
    font-weight: bold;
}

#testResult .neg{
	color: red;
}

.code {
    font-family: monospace;
    background-color: #f8f8f8;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: #d5d5d5;
    padding: 1px 4px 2px;
}

#testResult .neg::before{
    content: '\274C';
	margin-right: 5px;
}

#testResult .pos::before {
	content: "\2705";
    margin-right: 5px;
}

.trigger{
	display: flex;
	margin-bottom: 10px;
	color: #1fbba5;
}

.trigger>div{
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #1fbba5;
	background: white;
	cursor: pointer;
	transition: box-shadow 0.5s ease;
}
.trigger>div:hover{
	box-shadow: 2px 2px 5px #1fbba5;

}

.trigger>div.active{
	background: linear-gradient(135deg, #32d987 0%, #1bb6ab 99.29%);
	color: white;
}

.trigger>div+div{
	margin-left: 10px;
}

#log, #forResult, #testResult, .task{
	width: 100%;
	height: 300px;
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	background-color: #34495e;
	color: #2ecc71;
	font-weight: 900;
}


.task{
	padding: 0;
	height: 300px;
    font-size: 16px;
    line-height: 24px;
    background: white;
    color: black;
    font-weight: normal;
    overflow-y: scroll;
}

.task ul{
	margin: 30px;
}

@media (max-width: 564px){
	.trigger{
		flex-direction: column;
	}
	.trigger>div+div{
		margin-left: 0;
		margin-top: 10px;
	}
}